package components

templ Modal() {
	<div
		class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
		hx-get="#"
		hx-target="#modal"
		hx-swap="innerHTML"
		hx-trigger="click"
	>
		<div onclick="event.stopPropagation()">
			{ children... }
		</div>
	</div>
}
