package components

templ Modal() {
	<div
		class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
		onclick="document.getElementById('modal').innerHTML = ''"
	>
		<div onclick="event.stopPropagation()">
			{ children... }
		</div>
	</div>
}
