package author

import (
	"xiazki/internal/model"
	"xiazki/web/template/components"
	"xiazki/web/template/layout"
)

type Data struct {
	CSRF   string
	Author *model.Author
}

templ Show(data Data) {
	@layout.Base(layout.Data{Title: "Books", CSRF: data.CSRF}) {
		<h1 class="mb-6 text-center text-3xl font-bold text-gray-900">
			{ data.Author.Name }
		</h1>
		@components.BookList(data.Author.Books)
	}
}
