package author

import (
	"xiazki/internal/model"
	"xiazki/web/template/components"
	"xiazki/web/template/layout"
)

type Data struct {
	Author *model.Author
}

templ Show(data Data) {
	@layout.Base("Books") {
		<h1 class="mb-6 text-center text-3xl font-bold">
			{ data.Author.Name }
		</h1>
		@components.BookList(data.Author.Books)
	}
}
