package books

import (
	"xiazki/internal/model"
	"xiazki/web/template/components"
	"xiazki/web/template/layout"
)

type Data struct {
	Books []*model.Book
}

templ Show(data Data) {
	@layout.Base("Books") {
		@components.BookList(data.Books)
	}
}
